@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

div#section{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #212529;

}
input.input:focus {
    outline: none !important;
    border:2px solid  #151218;
    box-shadow: 0 0 10px #719ECE;
}


img#tm{
    max-width: 490px;
    max-height: 460px;
    width: 100%;
    height: 100%;
    margin-top: 50px;
    margin-left: 10px;


}

div#tel-login{
    display: flex;
    flex-direction: column;
   /*  margin-top: 100px; */
    margin: 0 auto;
}

div#tel-login-container{
    background: #18191d;
    display: flex;
    flex-direction: column;
    padding: 15px;
    border-radius: 4px;
   /*  margin-top: 100px; */
    margin-bottom: 10px;
    max-width: 300px;
    width: 100%;

}
div#tel-login-container h2,span{
    color:white;
}
div#tel-login-container h2{
    margin-top: 20px;
    margin-bottom: 20px;

    font-size: 30px;

    font-family: "Roboto";
    letter-spacing: -.03em;
    font-weight: 700;
}
div#tel-login-container span{
    margin-top: 2px;
    margin-bottom: 20px;
    font-size: 16px;
    font-family: "Roboto";
    letter-spacing: -.03em;
    font-weight: 400;
}
div#tel-login-container input{
    margin-top: 2px;
    margin-bottom: 20px;
    height: 30px;
    border-radius: 4px;
    font-family: "Roboto";
    padding-left: 10px;
    padding-right: 20px;
    font-size: 12px;

    letter-spacing: -.03em;
    font-weight: 400;
}

button.cadastrar{
  height: 30px;
  border:none;
  border-radius: 4px;
  color:white;
  cursor: pointer;
}
button.btn{
    background-color: #870cf7;
    margin-bottom: 30px;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto";
    letter-spacing: -.03em;
    font-weight: 400;
    cursor: pointer;
    transition: 0.5s;
}
button.btn:hover{
    background-color: #4f1c80;
}
button.tbn{
    background-color: #55b0eb;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    font-family: "Roboto";
    letter-spacing: -.03em;
    font-weight: 400;
    height: 35px;
    transition: 0.3s;
}
button.tbn:hover{
    background-color: #2c6e9b;
}
