
#for-create-student{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    max-width: 620px;
    /* height: 300px; */
    border-radius: 4px;
    margin-right: 20px;
  /*   margin-top: 2px; */

}
#form-student{
    padding: 30px;
    background: white;
    max-width: 820px;
    margin: 0 auto;
    height: 100vh;

}
div.name-student{
    display:flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

#surname,
#fullname,
#telefone-student,
#country-student,#room-student,#hostel-student{
  display: flex;
  flex-direction: column;

}

input#input-surname:focus {
    outline: none !important;
    border:2px solid  #1aa056;;
    transition: border 0.2s ease 0s
}
input#input-country:focus {
    outline: none !important;
    border:2px solid  #1aa056;;
    transition: border 0.2s ease 0s
}
input#input-room:focus {
    outline: none !important;
    border:2px solid  #1aa056;
    transition: border 0.2s ease 0s
}
select#input-hostel:focus {
    outline: none !important;
    border:2px solid  #1aa056;
    transition: border 0.2s ease 0s
}
input#input-fullname:focus {
    outline: none !important;
    border:2px solid  #1aa056;
    transition: border 0.2s ease 0s
}
input#input-telefone:focus {
    outline: none !important;
    border:2px solid  #1aa056;
    transition: border 0.2s ease 0s
}

input#input-surname,input#input-country
{
    border:2.05px solid  #04D361;
    transition: border 0.2s ease 0s;

    width: 130px;

    border-radius: 4px;
    height: 40px;
    padding: 0 24px;

    margin-bottom:18px ;
}
input#input-room{

    width: 230px;
    border: none;
    border-radius: 4px;
    height: 40px;
    padding: 0 24px;
    border:2.05px solid  #04D361;
    transition: border 0.2s ease 0s;
    margin-bottom:18px ;
}
/* select#input-hostel
{

    width: 330px;
    border: none;
    border-radius: 4px;
    height: 40px;
    padding: 0 24px;
    border:2.05px solid  #04D361;
    transition: border 0.2s ease 0s;
    margin-bottom:18px ;
} */
input#input-fullname,input#input-telefone{
    width: 400px;
    border: none;
    border-radius: 4px;
    height: 40px;
    padding: 0 24px;
    border:2.05px solid  #04D361;
    transition: border 0.2s ease 0s;
    margin-bottom:18px ;
}
#surname{
    margin-right: 50px;

}
button#submit-student{
    width: 130px;
    height: 40px;
    background: white;
    border-radius: 4px;
    border:2.05px solid  #04D361;
    transition: border 0.2s ease 0s;
    color:white;
    font-weight: bold;
    transition: background-color 0.2s;
    color:  rgb(135, 134, 139);
    font-family: Roboto;
    font-size: 12px;
}
button#submit-student:hover{
    background: #1aa056;
    color:white;
}

strong{
    display: block;
    width: 100%;
    min-height: 16px;
    color: white;
    margin-bottom: 8px;
    color:  rgb(135, 134, 139);
    font-size:12px;
    font-family: Roboto;
    font-weight: 400;

}

input[type="file"]{

  display: flex;
  justify-content: center;
  align-items: center;
  border: none;

  background-color: #333;
  color: #FFF;
  text-transform: uppercase;
  text-align: center;

  padding: 8px 10px;
  cursor: pointer;
  width: 330px;
  border: none;
  border-radius: 4px;
  height: 40px;

  border:2.05px solid  #04D361;
  transition: border 0.2s ease 0s;
  margin-bottom:18px ;
}


#img-vsuet{
 display: flex;
 justify-content: center;
 align-items: center;
}
img#vsuet{
  max-height: 500px;
  height: 100%;
  max-width: 500px;
  width: 100%;
}
button#createrbut{
  border:none;
  font-size: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  width: 95%;
  margin-right: 10px;
  border-radius: 4px;
  background: white;
  height: 35px;
  transition: background-color 0.2s;


}
button#createrbut:hover{
  background: #719ECE;
  color:white;

}
