@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

#home-page{
   display:flex;
   flex-direction: column;

}
#header-home-page{
    padding: 10px;
    display: flex;
    justify-content:space-between;
    align-items: center;
    background: #870cf7;
    background: #04D361;
 
}
#avatar-home-page{
    display: flex;
    flex-direction: column;
}
.avatar-name-univer{
    font-weight: bold;
    margin-left: 10px;
}
#icon-univer-page{
    display: flex;
    justify-content: center;
    align-items: center;
}
#das-home-page{
    background:#1e1f54;
    font-weight:bolder; 
    color:white;
    border-radius: 8px;
    height: 20px;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    font-family: Roboto;

}

#input-home-page{
    border:none;
    height: 30px;
    width: 400px;
    border-radius:9px;
    padding-left: 10px;
    padding-right: 20px;
    font-size: 12px;
    letter-spacing: -.03em;
    font-weight: 400;
}

#user-page{
    font-weight: bolder;
    font-size: 12px;
    margin: 3px;
}
section#all-student-home-page{
    display: flex;
    flex-direction: column;
    max-width: 1199px;
    margin-top: 10px;
    padding: 0 30px;

}
#option-student-home-page{
    border-right: 2px solid #d3d3d3;
    height: 73vh;
   
}

#perfil-student-home-page{
    display:flex;
    justify-content:space-between;
}
#perfil-student-home-page li,a:hover{
   background: #719ECE;
   color:white;

}
#perfil-student-home-page li.select,a{
    background: #719ECE;
    color:white;
}

#perfil-student-home-page li,a{
    list-style:none;
    margin-bottom:10px;
    margin-right: 10px;
    background: white;
    padding: 5px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    color:#333;
    font-size: 13px;
    font-family: Roboto;
    letter-spacing: -.03em;
    font-weight: 500;
    margin-bottom: 10px;
    cursor: pointer;
    transition-duration: 3s;
    text-decoration: none;
    
}
 svg.ic-left{
    margin-right: 10px;
    display: flex;
}

#students{
    display: flex;
  
    align-items: center;
    background: white;
    width: 480px;
    height: 50px;
    border-radius: 4px;
    font-size: 12px;
    font-family: Roboto;
    letter-spacing: -.03em;
    font-weight: 700;
    margin-bottom: 10px;
    justify-content: space-between;
    transition-duration: 0.2s;
   
}

#students:hover{
    transform:translateX(10px);
}
#borda{
    border: 2px solid rgb(102, 197, 98);
    border-radius: 50%;
    height: 20px;
    width: 20px;
    padding: 10px;
    margin-left: 10px;
    display: flex;
    color:rgb(102, 197, 98);
    justify-content: center;
    align-items: center;
}

.sp{
    color:#333;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
#univer-home{
    display: flex;
    justify-content: center;
    align-items: center;
}
form#form-input-home-page{
    max-width: 900px;
    display:flex;
}
#for-search{
    align-items: center;
    display: flex;
    flex-direction: column;
     margin: 0 auto;
}
form#form-input-home-page input{
    height: 40px;
    padding: 0 24px;
    border:0;
    border-radius: 5px 0 0 5px;
    width: 400px;
    margin-bottom:18px ;
}
form#form-input-home-page input::placeholder{
    color:#a8a8b3;
}
form#form-input-home-page button{
    width: 80px;
    height: 40px;
    background: #04D361;
    border-radius: 0px 5px 5px 0px;
    border: none;
    color:white;
    font-weight: bold;
    transition: background-color 0.2s;

}
form#form-input-home-page button:hover{
    background: #1aa056;
}

