@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

div#section{
    display: flex;
    background: #212529;
    max-width: 1199px;
    margin: 0 auto; 
    padding: 0 30px;
    height: 100%;
  
}
input.input:focus {
    outline: none !important;
    border:2px solid  #870cf7;
    box-shadow: 0 0 10px #719ECE;
}


img#tm-sing{
    width: 590px;
    height: 360px;
  
    margin-top: 30px;
    margin-left: 10px;
    

}

div#tel-sing{
    display: flex;
    flex-direction: column;
    
    margin: 0 auto;
}

div#tel-sing-container{
    background: #18191d;
    display: flex;
    flex-direction: column;
    padding: 15px;
    border-radius: 4px;
    margin-top: 20px;
    margin-bottom: 10px;
    max-width: 300px;
   
}
div#tel-sing-container h2,span{
    color:white;
}
div#tel-sing-container h2{
    margin-top: 20px;
    margin-bottom: 20px;

    font-size: 30px;
   
    font-family: "Roboto";
    letter-spacing: -.03em;
    font-weight: 700;
}
div#tel-sing-container span{
    margin-top: 2px;
    margin-bottom: 20px;
    font-size: 16px;
    font-family: "Roboto";
    letter-spacing: -.03em;
    font-weight: 400;
}
div#tel-sing-container input{
    margin-top: 2px;
    margin-bottom: 20px;
    height: 30px;
    border-radius: 4px;
   
    padding-left: 10px;
    padding-right: 20px;
    font-size: 12px;
    font-family: "Roboto";
    letter-spacing: -.03em;
    font-weight: 400;
}

button.cadastrar{
  height: 30px;
  border:none;
  border-radius: 4px;
  color:white;
}
button.btn{
    background-color: #870cf7;
    margin-bottom: 30px;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto";
    letter-spacing: -.03em;
    font-weight: 400;
}

button.tbn{
    background-color: #55b0eb;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    font-family: "Roboto";
    letter-spacing: -.03em;
    font-weight: 400;
    height: 35px;
    
  
   
    
}